In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset_helados = pd.read_csv('ventas_por_helado.csv')
dataset_helados

    id_producto  ventas_unidades    precio
0            17           998119  1.493301
1           101            27127  3.848544
2           240           202538  2.406505
3           402           266723  2.989612
4           999            20468  1.859808
5          2033           209155  2.489806
6          3636            32070  2.601165
7          4468            14473  2.598462
8          4577           130704  5.158462
9          4758           449007  5.031154
10         5019            17401  2.504175
11         5684            45269  3.717864
12         6525            62213  2.357885
13         7118             4051  2.392222
14         8689           689257  2.552039
15         9134           679493  2.391456

### Helados por sabor

La empresa _Ice Cream Avenue_ desea realizar un seguimiento de los sabores de helado más populares para un cliente. 
Se te proporciona una lista de pedidos, donde cada pedido es una lista con tuplas con el sabor del helado y la cantidad solicitada. 
* En el primer pedido se piden 3 helados de chocolate, 2 de vainilla y 4 de fresa
* En el segundo pedido se pide 1 helado de chocolate, 2 de yogur y 3 de fresa
* En el tercer pedido se piden 2 helados de yogur y 2 de mango

Concatena las listas, y escribe una función que, en base a esa lista total, genere un diccionario que muestre la cantidad total de helados pedidos para cada sabor.

In [3]:
primer_pedido = [('chocolate',3),('vainilla',2),('fresa',4)]
segundo_pedido = [('chocolate',1),('yogur',2),('fresa',3)]
tercer_pedido = [('yogur',2),('mango',2)]

pedidos_total = primer_pedido + segundo_pedido + tercer_pedido

print(f'Esta e la lista de pedidos total :',pedidos_total)

def pedidos_to_dict(list) :
    diccionario = {}
    for sabores in list :
        sabor,cantidad = sabores
        if sabor in diccionario:
            diccionario[sabor]+=cantidad
        else:
            diccionario[sabor]=cantidad
    return diccionario

print(f'Este es el diccionario generado : ',pedidos_to_dict(pedidos_total))

Esta e la lista de pedidos total : [('chocolate', 3), ('vainilla', 2), ('fresa', 4), ('chocolate', 1), ('yogur', 2), ('fresa', 3), ('yogur', 2), ('mango', 2)]
Este es el diccionario generado :  {'chocolate': 4, 'vainilla': 2, 'fresa': 7, 'yogur': 4, 'mango': 2}

### Descuentos en helados

Partiendo de los sabores del ejercicio anterior, generar una lista de precios, donde el precio de cada sabor sea 0.2€ por cada letra que contenga, y con un descuento del 20% para los helados cuyo nombre empiece con la letra "c".

In [4]:
diccionario_sabores = ['chocolate','vainilla','fresa','yogur','mango']

def dict_precios(list):
    diccionario_precios ={} 
    for elements in list: 
        numero_letras = 0
        for letras in elements:
            numero_letras+=1 
            precio = numero_letras*0.2
        if elements[0] == 'c' or elements[0] == 'C':
            descuento = (precio*20)/100 
            diccionario_precios[elements] = precio-descuento
        else:
            diccionario_precios[elements] = precio
    return diccionario_precios
         
print(dict_precios(diccionario_sabores))

{'chocolate': 1.44, 'vainilla': 1.6, 'fresa': 1.0, 'yogur': 1.0, 'mango': 1.0}

### El helado más caro

A partir del diccionario del ejercicio anterior con precios de helados y un presupuesto dado, crea una función que devuelva el helado más caro cubierto por el presupuesto.

Resuélvelo primero con python base, y después utilizando Series de pandas

In [5]:
#Python base
sabores_precios = {'chocolate': 1.44, 'vainilla': 1.6, 'fresa': 1.0, 'yogur': 1.0, 'mango': 1.0}  

def mas_caro(dict):
    precio_maximo = 0
    sabor_helado = ''
    for helado,precio in dict.items():
        if precio>precio_maximo:
            precio_maximo=precio
            sabor_helado=helado
    return (f'El helado mas caro es {sabor_helado} y su precio es de {precio_maximo}')
        
    

mas_caro(sabores_precios)

#Pandas
df_helados = pd.DataFrame({
    'sabor' : ['chocolate', 'vainilla', 'fresa', 'yogur', 'mango'],
    'precio': [1.44,1.6,1.0,1.0,1.0]
})

df_helados.max()

sabor     yogur
precio      1.6
dtype: object

### Ventas aleatorias

Crea un array bidimensional en numpy donde la dimensión de filas sea el número de tiendas (5) y las columnas los días de la semana. Los datos deben obtenerse a partir de una distribución aleatoria de números enteros, que puede ir desde 0 hasta 100 (sin incluir). Asegúrate de que el ejemplo sea reproducible, fijando como semilla el número 42

In [6]:
np.random.seed()

num_tiendas = 5
dias_semana = 7

# Generar datos aleatorios para las tiendas
array_ventas = np.random.randint(0, 100, size=(dias_semana, num_tiendas))


df_ventas = pd.DataFrame(array_ventas, columns=['Tienda 1','Tienda 2','Tienda 3','Tienda 4','Tienda 5'])
df_ventas.index = (['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo'])

# Mostrar el DataFrame
print(df_ventas)

           Tienda 1  Tienda 2  Tienda 3  Tienda 4  Tienda 5
Lunes            23         0        49        91        32
Martes           20        85        91        94        74
Miercoles        72        56        47        80        13
Jueves           99        30        50         5        38
Viernes          59        43        46        10        52
Sabado           87        27        13        29         4
Domingo          53        48        15        10        99

### Llegando a 200 ventas

Calcula el dia de la semana en que cada tienda alcanza las 200 ventas acumuladas a lo largo de la semana

In [7]:
contador = 0
for tienda in df_ventas.columns:
    contador += df_ventas[tienda]
    if (contador >= 200).any() :
        indice = contador[contador >= 200].idxmin()
        print(f'Las ventas han alcanzado 200 en el día {indice} para la tienda {tienda}')
    else :
        print(f'Las ventas no han alcanzado 200 para la tienda {tienda}')

Las ventas no han alcanzado 200 para la tienda Tienda 1
Las ventas no han alcanzado 200 para la tienda Tienda 2
Las ventas no han alcanzado 200 para la tienda Tienda 3
Las ventas han alcanzado 200 en el día Miercoles para la tienda Tienda 4
Las ventas han alcanzado 200 en el día Viernes para la tienda Tienda 5

### Beneficio positivo

Crea otro array con la misma forma que el de ventas que se llame costes, y el valor constante 40. Resta ambos arrays para obtener un array que se llame beneficio, y calcula el beneficio sumado de las tiendas que tengan beneficio total positivo.

In [8]:
array_costes = np.full_like(array_ventas, 40)
df_costes = pd.DataFrame(array_costes,columns=['Tienda 1','Tienda 2','Tienda 3','Tienda 4','Tienda 5'])
df_costes.index = [['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo']]

print(df_costes)

           Tienda 1  Tienda 2  Tienda 3  Tienda 4  Tienda 5
Lunes            40        40        40        40        40
Martes           40        40        40        40        40
Miercoles        40        40        40        40        40
Jueves           40        40        40        40        40
Viernes          40        40        40        40        40
Sabado           40        40        40        40        40
Domingo          40        40        40        40        40

In [9]:
array_beneficios = array_ventas - array_costes

df_beneficios = pd.DataFrame(array_beneficios,columns=['Tienda 1','Tienda 2','Tienda 3','Tienda 4','Tienda 5'])
df_beneficios.index = [['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo']]

print(df_beneficios)

           Tienda 1  Tienda 2  Tienda 3  Tienda 4  Tienda 5
Lunes           -17       -40         9        51        -8
Martes          -20        45        51        54        34
Miercoles        32        16         7        40       -27
Jueves           59       -10        10       -35        -2
Viernes          19         3         6       -30        12
Sabado           47       -13       -27       -11       -36
Domingo          13         8       -25       -30        59

In [10]:
for beneficio in df_beneficios.columns:
    total_beneficio = df_beneficios[beneficio].sum()
    
    if total_beneficio < 0:
        print(f'No hay beneficios esta semana para la tienda {beneficio}')
    else:
        print(f'El beneficio total de la semana es de {total_beneficio}€ para la tienda {beneficio}')

El beneficio total de la semana es de 133€ para la tienda Tienda 1
El beneficio total de la semana es de 9€ para la tienda Tienda 2
El beneficio total de la semana es de 31€ para la tienda Tienda 3
El beneficio total de la semana es de 39€ para la tienda Tienda 4
El beneficio total de la semana es de 32€ para la tienda Tienda 5

### Lectura de fichero

Lee el fichero de ventas_por_helado y haz una exploración rápida del DataFrame

In [11]:
ventas_por_helado = pd.read_csv('ventas_por_helado.csv')

#Queremos ver las dimensiones de nuestro dataframe
ventas_por_helado.shape

(16, 3)

In [12]:
#Ahora vamos a ver los 5 primeros datos de nuestro dataframe
ventas_por_helado.head()

   id_producto  ventas_unidades    precio
0           17           998119  1.493301
1          101            27127  3.848544
2          240           202538  2.406505
3          402           266723  2.989612
4          999            20468  1.859808

In [13]:
#Ahora vamos a ver los 5 ultimos datos de nuestro dataframe
ventas_por_helado.tail()

    id_producto  ventas_unidades    precio
11         5684            45269  3.717864
12         6525            62213  2.357885
13         7118             4051  2.392222
14         8689           689257  2.552039
15         9134           679493  2.391456

In [14]:
#Ahora vamos a ver los 5 ejemplos aleatorios de nuestro dataframe
ventas_por_helado.sample(5)

    id_producto  ventas_unidades    precio
5          2033           209155  2.489806
10         5019            17401  2.504175
6          3636            32070  2.601165
4           999            20468  1.859808
1           101            27127  3.848544

In [15]:
#Queremos ver cuales son los tipos de datos de nuestro dataframe
ventas_por_helado.dtypes

id_producto          int64
ventas_unidades      int64
precio             float64
dtype: object

In [16]:
#Vemos si existen valores nulos en nuestro dataframe
ventas_por_helado.isna()

    id_producto  ventas_unidades  precio
0         False            False   False
1         False            False   False
2         False            False   False
3         False            False   False
4         False            False   False
5         False            False   False
6         False            False   False
7         False            False   False
8         False            False   False
9         False            False   False
10        False            False   False
11        False            False   False
12        False            False   False
13        False            False   False
14        False            False   False
15        False            False   False

In [22]:
ventas_por_helado.describe()

       id_producto  ventas_unidades     precio  total_ventas_euros
count    16.000000         16.00000  16.000000        1.600000e+01
mean   3962.500000     240504.25000   2.899529        6.403157e+05
std    3061.347634     304497.61091   1.031506        7.380651e+05
min      17.000000       4051.00000   1.493301        9.690892e+03
25%     849.750000      25462.25000   2.392031        7.345831e+04
50%    4522.500000      96458.50000   2.528107        3.278563e+05
75%    5894.250000     312294.00000   3.171675        9.706717e+05
max    9134.000000     998119.00000   5.158462        2.259023e+06

### Productos con mucha venta

Calcula el número de productos con más de 20000 euros en ventas

In [18]:
ventas_por_helado

    id_producto  ventas_unidades    precio
0            17           998119  1.493301
1           101            27127  3.848544
2           240           202538  2.406505
3           402           266723  2.989612
4           999            20468  1.859808
5          2033           209155  2.489806
6          3636            32070  2.601165
7          4468            14473  2.598462
8          4577           130704  5.158462
9          4758           449007  5.031154
10         5019            17401  2.504175
11         5684            45269  3.717864
12         6525            62213  2.357885
13         7118             4051  2.392222
14         8689           689257  2.552039
15         9134           679493  2.391456

In [19]:
ventas_por_helado['total_ventas_euros'] = ventas_por_helado['ventas_unidades'] * ventas_por_helado['precio']

for columna in ventas_por_helado.columns :
     if columna == 'total_ventas_euros' :
          mas_20000 = ventas_por_helado[ventas_por_helado[columna]>20000]
          print(f'Estos son los productos con ventas superiores a 20,000 euros:\n{mas_20000}')

Estos son los productos con ventas superiores a 20,000 euros:
    id_producto  ventas_unidades    precio  total_ventas_euros
0            17           998119  1.493301        1.490492e+06
1           101            27127  3.848544        1.043994e+05
2           240           202538  2.406505        4.874087e+05
3           402           266723  2.989612        7.973982e+05
4           999            20468  1.859808        3.806654e+04
5          2033           209155  2.489806        5.207553e+05
6          3636            32070  2.601165        8.341936e+04
7          4468            14473  2.598462        3.760753e+04
8          4577           130704  5.158462        6.742316e+05
9          4758           449007  5.031154        2.259023e+06
10         5019            17401  2.504175        4.357514e+04
11         5684            45269  3.717864        1.683040e+05
12         6525            62213  2.357885        1.466911e+05
14         8689           689257  2.552039        1.759011e+06
15         9134           679493  2.391456        1.624978e+06